/* alt-screen-header */
.alt-header {
    padding: var(--horizontal-space);
    display: flex;
    justify-content: center;
    align-items: center;
}
.alt-header .alt-header__title {
    font-weight: bold;
}
.alt-header .alt-header__column:first-child {
    margin-right: auto;
}
.alt-header .alt-header__column:nth-child(2) {
    text-align: center;
}
.alt-header .alt-header__column:last-child {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}
.alt-header .alt-header__column i:not(:first-child) {
    margin-left: 15px;
}
.alt-header .alt-header__column {
    width: 33%;
}